*.o
*.so
*.a
*.d
*.swp
*.pcm
*.dat
test_*
startclk*
stopclk*
Config.cfg
Config_To_HS.cfg
*~
git_status.txt

# Qt5 local project files
*.pro.user
.qmake.stash

# ECLIPSE local projects
.project
.cproject
.settings

# additional build files for cmake builds
CMakeFiles
CMakeCache.txt
*.cmake
*.make
*_autogen
Makefile
libalpide/version.h
**/libalpide/version.h
**/Data
**/GUI/GUI
**/MosaicSrc/powerboard/GUI/pbGUI
**/MosaicSrc/powerboard/pbctrl
**/scripts
**/analysis
