slc6:
    image: gitlab-registry.cern.ch/alice-its-alpide-software/new-alpide-software:alice-its-slc6-dev
    script:
      - make clean
      - make
      - make lib
      - make lib_analysis
      - cd GUI
      - qmake-qt5 -makefile
      - make
      - cd ../MosaicSrc/powerboard
      - make clean
      - make
      - cd GUI
      - qmake-qt5 -makefile
      - make clean
      - make

cc7:
    image: gitlab-registry.cern.ch/alice-its-alpide-software/new-alpide-software:alice-its-cc7-dev
    script:
      - make clean
      - make
      - make lib
      - make lib_analysis
      - cd GUI
      - qmake-qt5 -makefile
      - make
      - cd ../MosaicSrc/powerboard
      - make clean
      - make
      - cd GUI
      - qmake-qt5 -makefile
      - make clean
      - make

ubuntu1604:
    image: gitlab-registry.cern.ch/alice-its-alpide-software/new-alpide-software:alice-its-ubuntu16.04-dev
    script:
      - make clean
      - make
      - make lib
      - make lib_analysis
      - cd GUI
      - qmake -makefile
      - make
      - cd ../MosaicSrc/powerboard
      - make clean
      - make
      - cd GUI
      - qmake -makefile
      - make clean
      - make

ubuntu1604clang:
    image: gitlab-registry.cern.ch/alice-its-alpide-software/new-alpide-software:alice-its-ubuntu16.04-clang-dev
    script:
      - find -name Makefile -exec sed -i 's/g++/clang++/g' {} \;
      - make clean
      - make
      - make lib
      - make lib_analysis
      - cd GUI
      - qmake -makefile
      - make
      - cd ../MosaicSrc/powerboard
      - make clean
      - make
      - cd GUI
      - qmake -makefile
      - make clean
      - make
